@font-face {
    font-family: FreeMono;
    src: url("FreeMono.otf") format("opentype");
}

@font-face {
    font-family: FreeMono;
    font-weight: bold;
    src: url("FreeMonoBold.otf") format("opentype");
}

@font-face {
    font-family: FreeMono;
    font-style: oblique;
    src: url("FreeMonoOblique.otf") format("opentype");
}

@font-face {
    font-family: FreeMono;
    font-weight: bold;
    font-style: oblique;
    src: url("FreeMonoBoldOblique.otf") format("opentype");
}
